*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and nav styles */
.text-orange{
    color:#FD6E0A;
}
.button-orange{
    height: 60px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.header{
    background-color:#FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* banner styles */
.banner{
    margin: 0 200px;
    align-items: center;
    display: flex;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    

}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: gray;
    margin-bottom: 30px;
}
/* main tag style */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
section{
    margin-top: 130px;
}
/* about section */
.about{
  
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.about-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;

}
.about-description{
    padding: 30px;
    color: grey;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;

}
tr td{
    color: grey;
    padding-left: 100px;
    font-size: 20px;
    
}
th{
    padding-left: 80px;
  
}
/* what i styles */
.what-i{
  
    text-align: center;
    font-size: 30px;
    
}
.skills{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}
.skill-description{
    text-align: justify;
    color: gray;
    /* margin-top: 20px;
    padding-right: 0px; */
    margin-top: 20px;
    font-size: 18px;
}
.some{
    margin-bottom: 100px;
}
/* Resume styles */
.resume-title{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}


